body{
  background-color:hsla(0, 31%, 45%, 0.26);
}
@media screen and (max-width:600px) {
  .img1{
    display: none;
  }
  .card{
    margin-right: 10px;
  }
  
}
.form {
  .card {
    margin-top: 30px;
    margin-right: -70px;
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
  }
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .img1 {
    margin-top: 100px;
    height: 490px;
    width: 550px;
    border-radius: 10px;
  }
}
.loginform{
    .card{
        margin-top: 80px;
        margin-right: -70px;
        background: hsla(0, 0%, 100%, 0.55);
        backdrop-filter: blur(30px);
    }
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font-weight: 700; 
    }
    .img1{
        margin-top: 100px;
        height: 390px;
        width: 550px;
        border-radius: 10px;
    }
}
.homepg{
  padding-top: 90px;
  h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
  }
  .bg1{
    border-radius: 300px 100px 100px 100px;
    box-shadow: 10px 10px 50px 10px rgb(0 0 0 / 12%);
  }
}
.update{
  .card {
    margin-top: 30px;
    margin-right: -70px;
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
  }
}
label progress {
  width: 35px;
}
label img {
  width: 70px;
  height: 70px;
}

#input-file {
  display: none !important;
}